body {
	transition: 0.3s;
	background-color: #F1F5F9;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

button {
	background-color: transparent;
}


.text-pink {
	color: #e21e80;
}

.text-gradient {
	background: -webkit-linear-gradient(300deg, #1e30f3 0%, #e21e80 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary {
	background: #1e30f3;
	background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.icon,
.zoom-sm,
.zoom-md,
.card img {
	transition: .3s;
}

.icon:hover {
	transform: scale(1.4);
}

.zoom-sm:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0px #00000040;
}

.zoom-md:hover {
	transform: scale(1.2);
}

.guide {
	border: 2px solid #000000;
}


.navbar,
.close-button {
	background: #ffffff;
	transition: 0.5s;
	height: 65px;
}

.navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar-logo {
	height: 60px;
	padding: 5px 15px;
}

.offcanvas {
	background: #ffffff;
}

.navbar-toggler,
.close-button {
	border-color: transparent;
}

.navbar a,
.navbar button,
.offcanvas-title {
	color: #000000 !important;
}

.navbar-icon,
.close-button {
	font-size: 1.5em;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-nav .active {
	color: #fff !important;
	background: linear-gradient(160deg, #1e30f3 0%, #e21e80 100%);
	border-radius: 3px;
}

.nav-link:hover {
	color: #1e30f3 !important;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header-hr {
    width: 100%;
    height: 2px;
    opacity: 100;
    margin: auto;
	padding-bottom: 30px;
}
		
.home {
	height: 100dvh;
	text-align: end;
	margin-top: 20px;
}
			
.home h1 {
	font-family: 'Electrolize';
	font-size: 5em;
	font-weight: bold;
	line-height: 1;
}

.home-pic img{
	height: 420px;
	border-radius: 65% 35% 65% 35%;
	box-shadow: 0px 0px 10px 0px #00000040;
	background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
	transition: .3s;
}

.home-pic img:hover {
	border-radius: 50%;
	box-shadow: 0px 0px 35px 10px #00000040;
}


.home-icon {
	padding-top: 20px;
	width: 450px;
}

.home-icon ul{
	border: 1px #00000050 solid;
	border-radius: 100px;
	box-shadow: 0px 0px 10px 0px #00000040;
	gap: 30px;
	transition: .3s;
}

.home-icon li {
	display: inline;
}

.home-icon img {
	height: 35px;
	transition: .3s;
}

.about p {
	font-size: 25px;
}

.exp-list {
	list-style-position: outside;
}

.projects p {
	font-size: 20px;
}

.portfolio img {
    height: 32px;
}

.portfolio li {
    display: inline;
    padding-right: 20px;
}

.modal-content {
    height: 80vh; 
}

.card img:hover {
	opacity: .3;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background: #4175FC;
}
  
.overlay:hover {
	opacity: .8;
	box-shadow: 0px 0px 15px 2px #4176fc;
}
  
.overlay .text {
	color: white;
	font-size: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn-cv {
	color: #000000;
	text-decoration: none;
	border: 2px solid transparent;
	border-bottom: 2px solid #4175FC;
	font-weight: bold;
	text-transform: uppercase;
	transition: .2s;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.btn-view {
	color: #000000;
	text-decoration: none;
	border: 2px solid transparent;
	border-bottom: 2px solid #4175FC;
	font-weight: bold;
	text-transform: uppercase;
	transition: .2s;
}

.btn-view:hover,
.btn-cv:hover {
	color: #ffffff;
	background-color: #4175FC;
	border: 2px solid #4175FC;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px #4176fc;
}

.footer {
	padding: 40px 100px;
	width: 100%;
	display: flex;
	background: linear-gradient(#000000d9, #000000d9), url(../image/bg1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.footer li {
	list-style: none;
	padding-bottom: 5px;
}

.footer a {
	text-decoration: none;
	color:#ffffff
}


.footer li i{
	padding-right: 1px;
	color: #4175FC;
	font-size: 1em;
}

.footer li:hover,
.footer a:hover {
	color: #4175FC;
	transition: .3s;
}


@media (max-width: 990px) { 
	.home-pic img {
		height: 300px;
	}

	.home-icon {
		width: 350px;
	}

	.home-icon ul{
		gap: 20px;
	}

	.home h1 {
		font-size: 3em;
	}

	.home h3 {
		font-size: 1.3em;
	}

	.text-role {
		width: 300px;
	}

	.btn-view {
		margin: auto;
	}

	.footer {
		padding: 40px 20px;
	}

	.footer li {
		font-size: .9em;
	}
}

@media (max-width: 767px) { 
	.home {
		text-align: center;
		margin-top: 45px;
		flex-direction: column-reverse;
	}

	.home-pic img {
		height: 280px;
		margin-bottom: -100px;
	}

	.home-icon {
		padding-top: 5px;
		margin: auto;
	}

	.home-icon img {
		height: 25px;
	}

	.home-icon ul{
		gap: 25px;
	}


	.home h1 {
		font-size: 2.3em;
	}

	.about p {
		font-size: 20px;
	}

	.navbar {
		height: 70px;
	}
	.navbar-brand {
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
	}
	
	.navbar-logo {
		height: 50px;
		padding: 5px 15px;
	}

	.nav-link {
		padding: 10px;
	}

	.footer {
		padding: 15px 10px;
		flex-direction: row;
		gap: 25px 0px;
	}

	.footer li {
		font-size: .9em;
	}
}

@media (max-width: 576px) { 
	.navbar-brand {
		font-size: 15px;
	}
	
	.home-pic img {
		height: 230px;
	}

	.home-icon {
		width: 250px;
	}

	.home-icon ul{
		gap: 12px;
	}

	.about p,
	.text-exp-educ {
		font-size: 16px;
	}
	
	.projects p,
	.text-resume {
		font-size: 15px;
	}

	button {
		font-size: 11px;
	}

	.portfolio {
		text-align: center;
	}

	.portfolio img {
		height: 27px;
	}

	.footer {
		padding: 15px 30px;
		flex-direction: column;
		gap: 25px 0px;
	}

	.footer li {
		font-size: .8em;
	}
}
